<html>
<head>
    <meta charset="UTF-8">
    <title>Post <%= postid %></title>
</head>
<body> 
    <div><h1>Post <%= postid %> From User <%= username %> </h1></div>
    <form>
        <div>
             <%-title %>
        </div>
        <div>
            <%- body %>
        </div>
    </form>
</body>
</html>
